
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  /* border: 1px solid rgb(196, 108, 0); */
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.goldWidget {
    margin: 20px;
}

h1 {
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: monospace;
    font-size: 1.6rem;
}

p {
    font-size: 1.8rem;
    font-family: monospace;
    line-height: 1.5;
}

.mondayData, .tuesdayData, .wednesdayData, .thursdayData, .fridayData, .calendarItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.dayHeader {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2.2rem;
}